<!-- <header class="header">
  <div class="header__content">
    <img
      class="header__content__logo"
      routerLink=""
      routerLinkActive="active-link"
      src="../../../assets/images/jadenmathias.png"
    />
    <nav class="header__content__nav">
      <ul>
        <li>
          <a routerLink="about" routerLinkActive="active-link">About</a>
        </li>
        <li>
          <a routerLink="projects" routerLinkActive="active-link">Projects</a>
        </li>
      </ul>
      <div class="button">Contact me</div>
    </nav>
    <div className="header__content__toggle"></div>
  </div>
</header> -->
