@import "../styles/variables.scss";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.aboutme {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px;

	&__content {
		box-shadow: 0px 0px 0px #000000;
		display: flex;
		justify-content: space-between;

		&__one {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
			background: rgba(255, 105, 97);
			transition: all 0.3s ease;
			margin-bottom: 20px;
			@include breakpoint(md1) {
				align-items: center;
				flex-direction: row;
			}
			&__pfp {
				border-style: solid;
				border-color: white;
				background-color: transparent;
				padding: 10px;
				border-width: 2px;
				max-width: 85%;

				margin: 20px;
				transition: all 0.3s ease;
				@include breakpoint(md1) {
					max-width: 30%;
				}
			}

			&__para {
				margin: 20px 20px;
				font-size: 1.5rem;
				color: white;
				font-family: "Open Sans Condensed", sans-serif;
				@include breakpoint(md1) {
					font-size: 2rem;
				}
			}
		}

		&__two {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background: #49a09d;
		}
	}
}

.skillset {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-evenly;
	align-items: center;
	background-color: transparent;
}

.skill {
	background: white;
	background-image: linear-gradient(to top, var(--blue) 50px, white 50px);
	cursor: default;
	padding: 10px;
	border-radius: 20px;
	margin: 20px;
	width: 100px;
	text-align: center;
	background-size: auto 100px;
	transition: 0.5s;
}
// @media (max-width: 1000px) {
// 	.aboutme_main {
// 		align-items: center;
// 	}

// 	.aboutme__content {
// 		flex-direction: column;
// 		width: 90vw;
// 		height: fit-content;
// 	}

// 	.pfp {
// 		max-width: 80vw;
// 		margin-left: 20px;
// 		margin-right: 20px;
// 	}
// 	.one:hover #pfp {
// 		max-width: 83vw;
// 		transition: all 0.3s ease;
// 	}
// 	.p1 {
// 		text-align: center;
// 		font-size: 2rem;
// 	}
// 	.pContainer {
// 		margin-bottom: 20px;
// 		margin-right: 20px;
// 		margin-left: 20px;
// 	}
// 	.mywork__main {
// 		flex-direction: column;
// 		flex-wrap: nowrap;
// 		height: fit-content;
// 		justify-content: space-evenly;
// 		align-items: center;
// 	}

// 	.proj {
// 		min-width: 90vw;
// 	}
// }

// .cmd {
// 	font-family: "Cascadia Code", sans-serif;
// 	font-size: 20px;
// 	text-align: center;
// 	color: azure;
// }

// .typeWriter {
// 	font-family: "Cascadia Code", sans-serif;
// }

// .cursor {
// 	width: 1px;
// 	background-color: white;
// 	animation: blink 1s infinite;
// }

// .cursor.nocursor {
// 	animation: none;
// }

// .mywork {
// 	height: 80vh;
// 	display: flex;
// 	align-items: flex-start;
// }

// .mywork_main {
// 	visibility: hidden;
// 	display: none;
// 	width: 100vw;
// 	height: 100vh;
// 	flex-direction: row;
// 	justify-content: space-evenly;
// 	align-content: flex-start;
// 	flex-wrap: wrap;
// }

// .proj {
// 	display: flex;
// 	flex-shrink: 0;
// 	width: 47vw;
// 	min-height: 400px;
// 	padding: 10px;
// 	margin-top: 20px;
// 	align-items: center;
// 	flex-direction: column;
// 	transition: all 0.3s ease;
// }

// .proj:hover .ss {
// 	transition: all 0.3s ease;
// 	border-color: rgba(255, 255, 255, 1);
// 	border-width: 5px;
// 	width: 95%;
// }

// .ss {
// 	padding: 5px;
// 	width: 90%;
// 	background-color: transparent;
// 	border-color: rgba(255, 255, 255, 0.452);
// 	border-width: 3px;
// 	border-style: solid;
// 	transition: all 0.3s ease;
// }

// .proj_info {
// 	background-color: transparent;
// }

// .title {
// 	color: white;
// 	font-family: "Oswald", sans-serif;
// 	background-color: transparent;
// }

// .desc {
// 	font-family: "Oswald", sans-serif;
// 	background-color: transparent;
// 	font-size: 25px;
// }

// .try_it {
// 	display: flex;
// 	margin-top: 10px;
// 	text-decoration: none;
// 	color: teal;
// 	background: white;
// 	width: 50px;
// 	height: 30px;
// 	text-transform: uppercase;
// 	border-radius: 20px;
// 	justify-content: center;
// 	align-items: center;
// 	text-align: center;
// 	font-family: "Open Sans Condensed", sans-serif;
// 	transition: all 0.3s ease;
// }

// .try_it:hover {
// 	background-color: var(--orange);
// 	color: white;
// 	transition: all 0.3s ease;
// }

// @keyframes blink {
// 	0% {
// 		background-color: #ffffff;
// 	}
// 	49% {
// 		background-color: #ffffff;
// 	}
// 	50% {
// 		background-color: transparent;
// 	}
// 	99% {
// 		background-color: transparent;
// 	}
// 	100% {
// 		background-color: white;
// 	}
// }
